nav {
    text-align: center
 }
 
 
 .navbar-brand{
     font-size: 32px;
     color: #ff7f50;
     font-family: "Oswald";
     font-weight: 700;
 }
 
 
 
 .nav-item{
     color: #ff7f50;
 }
 
 
//  nav ul li {
   
//      font-size: 1.5rem;
    
//  }

 nav {

    ul{

        li{ 
            font-size: 1.5rem;
                a{
                    color: white;
                    font-size: 25px;
                    font-weight: bold;
                    color: #333;
                }
        
        }
    }
 }
 


//  nav ul li a {
    
//      color: white;
//      font-size: 25px;
//      font-weight: bold;
//      color: #333;
//  }
 