@use "../base/variables" as *;
@use "../base/mixins" as *;

/********** MAIN index **********/

main {
   
    background-image: url(/assets/img/pexels-victorfreitas-841130.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


h1 {
    font-size: 2.5rem;
    color: $color-titulo;
    margin-bottom: 20px;
    font-family: "Oswald";
    font-weight: 700;
    @include sombra-texto(black,10px )
}




  
  
  .letras {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    @include sombra-texto(black, 10px);
  }
  


  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
  }
  

  .delay-1 {
    animation-delay: 0.3s;
  }
  .delay-2 {
    animation-delay: 0.6s;
  }
  .delay-3 {
    animation-delay: 0.9s;
  }